<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Translation APP</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="bg-image" 
     style="background-image: url('https://unsplash.com/photos/orange-plastic-blocks-on-white-surface-_t-l5FFH8VA?utm_content=creditShareLink&utm_medium=referral&utm_source=unsplash');
            height: auto; width: 100%">

    <div class="container min-vh-50 d-flex justify-content-center align-items-center">
      <h1>Translation APP</h1>
    </div>
    <div class="container min-vh-100 d-flex justify-content-center align-items-center">
      <div class="container">
        <form method="POST">
          <label class="form-label" for="textAreaExample">Type text to be translated: </label>
        <div class="form-outline">
          <textarea class="form-control" name="text" id="text" rows="4"></textarea>
        </div>


        <div>
          <label for="lang" class="form__label">Language</label>
          <select name="lang" id="lang" class="form-select">
            <option value="english">ENGLISH</option>
            <option value="german">GERMAN</option>
            <option value="spanish">SPANISH</option>
            <option value="hindi">HINDI</option>
            <option value="japanese">JAPANESE</option>
          </select>
        </div>

        <div class="form__fieldset">
          <input
            class="form__submit form__input"
            type="submit"
            value="Translate!"
          />
          <div>
            Detected Language = {{detected_language}}
          </div>
          <div>
            Translation = {{text}}
          </div>
        </div>
      </form>
    </div>
    </div>
  </div>
  </body>
</html>